.footer__links {
    display: flex;
    margin: 0;
    padding: 0;
}


@media screen and (max-width:694px) {
    .footer__links {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .footer__links {
        align-items: baseline;
    }
}