.place__info-link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.place__info-link:hover {
    opacity: 0.8;
}



@media screen and (max-width:320px) {

    .place__info-link {
        margin-left: 16px;
    }
}