.footer__item {
    list-style-type: none;
    margin-right: 18px;
}

.footer__item:last-child {
    margin-right: 0px;
}

@media screen and (max-width:694px) {
    .footer__item {
        margin-bottom: 30px;
        margin-right: 0px;
    }
}

@media screen and (max-width:320px) {
    .footer__item {
        margin-bottom: 32px;
    }

    .footer__item:last-child {
        margin-bottom: 48px;
    }
}